body {
    margin: 0;
    
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 600px;
    background-color: #1B244A;
}
.points {
    display: flex;
    justify-content: center;
    font-family: "Cursed Timer ULiL";
}
.player-name {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* text-align: center; */

    color: #EEEEEE;
}
#score-right{
    font-family: "Cursed Timer ULiL", sans-serif;
    src: url(CursedTimer.ttf);
}
.scores {
    
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
    color: #F94F6D;


}

.addpoint {
    font-size: 18px;
    width: 45px;
    height: 45px;
    border: 1px solid black;
    padding:10px;
}