body {
    text-align: center;
    
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 600px;
    width: 575px;
    height: 385px;
    background: #1B244A;
}
.points {
    display: flex;
    justify-content: center;
    font-family: "Cursed Timer ULiL";
}
.player-name {
    margin: 65px 65px 20px 65px;
    font-family: 'Verdana';
    font-size: 40px;
    line-height: 36px;
    /* text-align: center; */
    color: #EEEEEE;
}

.scores {
    margin:0 65px 25px 65px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    text-align: center;
    color: #F94F6D;
    background: #080001;
    border-radius: 5px;
    width: 155px;
    height: 120px;
}

.addpoint {
    margin: 5px;
    font-size: 18px;
    width: 45px;
    height: 45px;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: none;
}